snippet h2 "h2" w
<h2 $1>$2</h2>
endsnippet

snippet par "p" w
<p>
	$1
</p>
endsnippet


snippet ul "ul" w
<ul>
	<li>$1</li>
</ul>
endsnippet

snippet li "li" w
<li>$1</li>
endsnippet

snippet an "anchor" w
<a href="$1"
	title="$2"
	>$3
</a>
endsnippet




