

snippet scn "scene" 
class $1(Scene):
endsnippet

snippet wai "wait" 
self.wait(${1:1})
endsnippet

snippet cons "construct" 
def construct(self):
endsnippet



snippet te "Tex" 
Tex(r"$1")
endsnippet

snippet mate "MathTex" 
MathTex(r"$1")
endsnippet

